.DS_Store

workspace.xml

.gradle

**/build/*
**/out/*
**/tmp/*

*.iml

*.log

**/logs/*

.idea

.idea/**/*.xml
.idea/*.xml
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/artifacts
.idea/modules
.idea/runConfigurations/JPS_*.xml
.idea/libraries
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name

/example/webapp/vaadin/starter/frontend/generated/
/example/webapp/vaadin/starter/node_modules/
/example/webapp/vaadin/starter/package.json
/example/webapp/vaadin/starter/package-lock.json
/example/webapp/vaadin/starter/tsconfig.json
/example/webapp/vaadin/starter/types.d.ts
/example/webapp/vaadin/starter/vite.config.ts
/example/webapp/vaadin/starter/vite.generated.ts
/example/webapp/vaadin/starter/frontend/index.html
/example/webapp/vaadin/adapters/driving/web/frontend/index.html
/example/webapp/vaadin/adapters/driving/web/frontend/generated/
/example/webapp/vaadin/starter/src/main/dev-bundle/webapp/index.html
/example/webapp/vaadin/starter/src/main/dev-bundle/package-lock.json
/example/webapp/vaadin/starter/src/main/dev-bundle/config/stats.json
/example/webapp/vaadin/starter/src/main/dev-bundle/webapp/sw.js
/example/webapp/vaadin/starter/src/main/dev-bundle/webapp/sw.js.br
/example/webapp/vaadin/starter/frontend/themes/flowcrmtutorial/theme-editor.css
/example/webapp/vaadin/adapters/driving/web/package.json
/example/webapp/vaadin/adapters/driving/web/package-lock.json
/example/webapp/vaadin/adapters/driving/web/tsconfig.json
/example/webapp/vaadin/adapters/driving/web/types.d.ts
/example/webapp/vaadin/adapters/driving/web/vite.config.ts
/example/webapp/vaadin/adapters/driving/web/vite.generated.ts
/example/webapp/vaadin/adapters/driving/web/node_modules/
/example/webapp/vaadin/adapters/driving/web/frontend/themes/flowcrmtutorial/theme-editor.css
/example/webapp/vaadin/adapters/driving/web/src/main/dev-bundle/webapp/index.html
/example/webapp/vaadin/adapters/driving/web/src/main/dev-bundle/package-lock.json
/example/webapp/vaadin/adapters/driving/web/src/main/dev-bundle/config/stats.json
/example/webapp/vaadin/adapters/driving/web/src/main/dev-bundle/webapp/sw.js
/example/webapp/vaadin/adapters/driving/web/src/main/dev-bundle/webapp/sw.js.br
